{% extends 'base.html' %}

{% block content %}
<main class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="POST" class="card card-body">
                <h2 class="text-center mb-4">Agregar Producto</h2>
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success w-100 mt-3">Guardar Producto</button>
            </form>
        </div>
    </div>
</main>

<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if form.errors %}
<script>
    Swal.fire({
        title: "Error al registrar el producto",
        html: `
            {% for field, errors in form.errors.items %}
                <b>{{ field|capfirst }}:</b> 
                {% for error in errors %}
                    {{ error }}<br>
                {% endfor %}
            {% endfor %}
        `,
        icon: "error",
        confirmButtonText: "Entendido",
        confirmButtonColor: "#d33",
    });
</script>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <script>
            Swal.fire({
                title: "{{ message.tags|capfirst }}",
                text: "{{ message }}",
                icon: "{{ message.tags }}",
                confirmButtonText: "Aceptar",
                confirmButtonColor: "#3085d6"
            });
        </script>
    {% endfor %}
{% endif %}
{% endblock %}
